<div id="business-report-dashboard" class="page-layout blank grey-100-bg" fusePerfectScrollbar>

  <business-report-dashboard-bonus-line-chart  (timeSpan$)="ontimeSpanSelected($event)" [businessId]=businessId ></business-report-dashboard-bonus-line-chart>

  <div class="content-cards" fxLayout="column">
    <business-report-dashboard-wallet-status-cards [businessId]=businessId [timeSpanSelected]=timeSpanSelected></business-report-dashboard-wallet-status-cards>
    <business-report-dashboard-sales-overview [businessId]=businessId [timeSpanSelected]=timeSpanSelected [subTimeSpanSelected]=subTimeSpanSelected></business-report-dashboard-sales-overview>
        
    <div class="content-cards" fxLayout="row wrap" fxFlex="100">
      <business-report-dashboard-net-sales-distribution fxFlex="100" fxFlex.gt-sm="50" [businessId]=businessId [timeSpanSelected]=timeSpanSelected [subTimeSpanSelected]=subTimeSpanSelected></business-report-dashboard-net-sales-distribution>
      <business-report-dashboard-net-bonus-distribution fxFlex="100" fxFlex.gt-sm="50" [businessId]=businessId [timeSpanSelected]=timeSpanSelected [subTimeSpanSelected]=subTimeSpanSelected></business-report-dashboard-net-bonus-distribution>  
    </div>
    
    
    

  </div>

</div>