<!-- WIDGET 5 -->
<fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100" class="widget widget5">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex class="py-16 h3"> SALES-OVERVIEW </div>                        
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start start">

                        <div class="h-320 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">

                                <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="chartConfigs.scheme" [results]="chartDataset ? chartDataset[timeSpanSelected][subTimeSpanSelected].mainChartData : initialChartData['---']['---'].mainChartData"
                                        [gradient]="chartConfigs.gradient" [xAxis]="chartConfigs.xAxis" [yAxis]="chartConfigs.yAxis"
                                        [legend]="chartConfigs.legend" [showXAxisLabel]="chartConfigs.showXAxisLabel"
                                        [showYAxisLabel]="chartConfigs.showYAxisLabel" [xAxisLabel]="chartConfigs.xAxisLabel"
                                        [yAxisLabel]="chartConfigs.yAxisLabel">
                                </ngx-charts-bar-vertical-stacked>


                        </div>

                        <div class="my-16" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="row" fxLayout="row wrap">

                                <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="50"  fxLayoutAlign="center" *ngFor="let widget of (chartDataset ? chartDataset[timeSpanSelected][subTimeSpanSelected].supportingChartData : initialChartData['---']['---'].supportingChartData) | keys"
                                        class="mb-24">
                                        <div class="px-24">
                                                <div class="h4 secondary-text">{{widget.value.label}}</div>
                                                <div class="mat-display-1 m-0">
                                                        {{widget.value.acc}}
                                                </div>
                                        </div>
                                        <div class="h-80">
                                                <ngx-charts-area-chart *fuseIfOnDom [results]="widget.value.chart"
                                                        [scheme]="chartConfigs.supporting.scheme" [gradient]="chartConfigs.supporting.gradient"
                                                        [xAxis]="chartConfigs.supporting.xAxis" [yAxis]="chartConfigs.supporting.yAxis"
                                                        [legend]="chartConfigs.supporting.legend" [showXAxisLabel]="chartConfigs.supporting.showXAxisLabel"
                                                        [showYAxisLabel]="chartConfigs.supporting.showYAxisLabel"
                                                        [xAxisLabel]="chartConfigs.supporting.xAxisLabel" [yAxisLabel]="chartConfigs.supporting.yAxisLabel"
                                                        [curve]="chartConfigs.supporting.curve">
                                                </ngx-charts-area-chart>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- / Front -->

</fuse-widget>
<!-- / WIDGET 5 -->