@import "src/app/core/scss/fuse";

.widget {

    &.widget5 {

        .gridline-path.gridline-path-horizontal {
            display: none;
        }
    }
}

.content {
    flex: 1;

    mat-tab-group {
        height: 100%;

        .mat-tab-body-wrapper {
            flex-grow: 1;
        }
    }

    .mat-tab-label-container {
        padding: 0 24px;
    }
}

